* {
    margin: 0;
    padding: 0;
}


body {
    background: rgb(246, 246, 249);
    height: 100%;
    width: auto;
}

.container {
    width: 40rem;
    height:30rem;
    border: 2px solid black;
    margin-top: 10rem;
    margin-left: 25rem;
    border-radius: 25px;
}

.heading {
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
}


form {
    align-items: center;
    text-align: center;
    
}

form input {
    margin: 1rem;
    padding: 1rem;
}

#year {
    width: 30rem;
    height: 1.5rem;
}


#reset {
    width: 7rem;
    height: 3rem;
    text-align: center;
}

#reset:hover{
    background-color: bisque;
    color: black;
    font-size: 1rem;
    text-align: center;
}

#btn {
    width: 7rem;
    height: 1.5rem;
}

#btn:hover{
    background-color: bisque;
    color: black;
    font-size: 1rem;
    text-align: center;
}


p {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1rem;
}


@media (max-width:800px) {

    html, body {
        font-size: 80%;
    }



    .container {
        width: 20rem;
        height:100%;
        border: 2px solid black;
        margin: 10rem 2rem 2rem 10rem;
        border-radius: 25px;
    }

    #year {
        width: 10rem;
        height: 1rem;
    }
}


